# Downloading Historical Price Data Using the OpenBB SDK

This notebook demonstrates the different ways to approach loading historical price data using the OpenBB SDK.  There are obvious methods, and some less conventional ones. To begin, let's look at the Stocks module, but first, we need to initialize the notebook with the import statements block.

## Import Statements

In [2]:
import pandas as pd
from openbb_terminal.sdk import openbb

## The Stocks Module

The `load` function is likely the first place to reach when requesting daily, or intraday, historical price data.  `openbb.stocks.load()` is a versatile data aggregator, and not only for stocks.

### openbb.stocks.load()

The input parameters for the function:

```python
Parameters
----------
symbol: str
    Ticker to get data
start_date: str or datetime, optional
    Start date to get data from with. - datetime or string format (YYYY-MM-DD)
interval: int
    Interval (in minutes) to get data 1, 5, 15, 30, 60 or 1440
end_date: str or datetime, optional
    End date to get data from with. - datetime or string format (YYYY-MM-DD)
prepost: bool
    Pre and After hours data
source: str
    Source of data extracted
weekly: bool
    Flag to get weekly data
monthly: bool
    Flag to get monthly data
verbose: bool
    Display verbose information on what was the symbol that was loaded
```


Set `verbose = False` to silence the console print.  Execute the two cells below to demonstrate.

In [3]:
df_daily = openbb.stocks.load(symbol = 'spy')

Loading Daily data for SPY with starting period 2020-04-07.

In [4]:
df_daily = openbb.stocks.load(symbol = 'spy', verbose = False)

To load the entire history available from a source, pick a starting date well beyond what it might be. For example, `1900-01-01`

In [5]:
df_daily = openbb.stocks.load(symbol = 'spy', start_date = '1990-01-01')

Loading Daily data for SPY with starting period 1993-01-29.

Weekly and monthly intervals are selected with either argument as `True`.

In [6]:
df_weekly = openbb.stocks.load(symbol = 'spy', start_date = '1990-01-01', weekly = True)

Loading Weekly data for SPY with starting period 1993-01-25.

In [7]:
df_monthly = openbb.stocks.load(symbol = 'spy', start_date = '1990-01-01', monthly = True)

Loading Monthly data for SPY with starting period 1993-02-01.

The default settings retrieve daily, intraday data is selected using the `interval = N` argument.

In [8]:
df_1min = openbb.stocks.load(symbol = 'spy', interval = 1)

Loading Intraday 1min data for SPY with starting period 2023-04-10.

In [9]:
df_5min = openbb.stocks.load(symbol = 'spy', interval = 5)

Loading Intraday 5min data for SPY with starting period 2023-02-13.

In [10]:
df_15min = openbb.stocks.load(symbol = 'spy', interval = 15)

Loading Intraday 15min data for SPY with starting period 2023-02-13.

In [11]:
df_30min = openbb.stocks.load(symbol = 'spy', interval = 30)

Loading Intraday 30min data for SPY with starting period 2023-02-13.

When the source is `YahooFinance`, the standard default, the amount of intraday history available varies by interval.  One hour candles have the longest history, 2 years.  Other sources, such as Polygon, offer total market coverage for 10+ years of historical prices at all granularities.  For demonstration purposes, it is simple, effective, and accessible to use yFinance as the source.

In [12]:
df_60min = openbb.stocks.load(symbol = 'spy', interval = 60)

Loading Intraday 60min data for SPY with starting period 2021-04-14.

Include pre/post market data by setting the argument, `prepost = True`.  **Note**: an interval must also be selected.

In [13]:
df_prepost = openbb.stocks.load(symbol = 'spy', start_date = '2023-03-22', prepost = True, interval = 1)

df_prepost.tail(3)

Loading Intraday 1min data for SPY with starting period 2023-04-10.

                        Open    High     Low   Close  Adj Close  Volume
date
2023-04-12 19:57:00  407.215  407.23  407.17  407.17     407.17       0
2023-04-12 19:58:00  407.180  407.20  407.12  407.18     407.18       0
2023-04-12 19:59:00  407.185  407.22  407.18  407.20     407.20       0

It is also possible to load individual options contracts using the same syntax.  There will be gaps in the historical data when the contract has zero volume.

In [14]:
spy231215P00380000 = openbb.stocks.load(symbol = 'SPY231215P00380000')

Loading Daily data for SPY231215P00380000 with starting period 2020-12-31.

In [15]:
spy231215P00380000

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
date,,,,,,,,
2020-12-31,58.810001,58.810001,58.810001,58.810001,58.810001,10,0.0,0.0
2021-01-06,59.000000,59.000000,59.000000,59.000000,59.000000,22,0.0,0.0
2021-01-07,58.099998,58.770000,58.099998,58.330002,58.330002,10,0.0,0.0
2021-01-08,58.830002,60.369999,57.500000,57.500000,57.500000,150,0.0,0.0
2021-01-11,59.990002,59.990002,58.250000,59.500000,59.500000,5,0.0,0.0
...,...,...,...,...,...,...,...,...
2023-04-05,14.670000,15.370000,14.670000,14.840000,14.840000,1333,0.0,0.0
2023-04-06,14.840000,14.880000,14.050000,14.200000,14.200000,149,0.0,0.0
2023-04-10,14.750000,14.750000,13.870000,13.870000,13.870000,9,0.0,0.0
2023-04-11,13.670000,13.670000,13.240000,13.250000,13.250000,67,0.0,0.0
2023-04-12,13.020000,13.890000,13.000000,13.890000,13.890000,41,0.0,0.0

Currency pairs can also be loaded the same way.

In [16]:
eurusd_daily = openbb.stocks.load(symbol = 'EURUSD=X', start_date = '1900-01-01')

Loading Daily data for EURUSD=X with starting period 2003-12-01.

In [17]:
eurusd_60min = openbb.stocks.load(symbol = 'EURUSD=X', start_date = '1900-01-01', interval = 60)

Loading Intraday 60min data for EURUSD=X with starting period 2021-04-14.

Crypto pairs work in a similar way, but with a different syntax.

In [18]:
btcusd_15min = openbb.stocks.load(symbol = 'BTC-USD', start_date = '1900-01-01', interval = 15)

Loading Intraday 15min data for BTC-USD with starting period 2023-02-13.

In [19]:
btceur_15min = openbb.stocks.load(symbol = 'BTC-EUR', start_date = '1900-01-01', interval = 15)

Loading Intraday 15min data for BTC-EUR with starting period 2023-02-13.

In [20]:
ethusd_daily = openbb.stocks.load(symbol = 'ETH-USD', start_date = '1900-01-01')

Loading Daily data for ETH-USD with starting period 2017-11-09.

In [21]:
etheur_15min = openbb.stocks.load(symbol = 'ETH-EUR', start_date = '1900-01-01', interval = 15)

Loading Intraday 15min data for ETH-EUR with starting period 2023-02-13.

The continuous front month futures contract is loaded with `=F` attached.  For example, Eurodollar futures:

In [22]:
eurodollar = openbb.stocks.load(symbol = 'GE=F', start_date='1900-01-01')

Loading Daily data for GE=F with starting period 2000-09-18.

An active, individual, contract with trading volume can also be loaded.  For example, the December 2024 contract:

In [23]:
eurodollar_dec24 = openbb.stocks.load(symbol = 'gez24.cme')

Loading Daily data for GEZ24.CME with starting period 2020-04-07.

What the `load` function **cannot** do is batch download.  For this type of functionality, we need to stretch our wings and use one of the other functions.

### openbb.stocks.ca.hist()

This function, within the Comparison Analysis sub-module, offers the ability to return data for multiple tickers as a single Pandas DataFrame, and targeting a single data point.  Choices are: open, high, low, close, volume, and return.  It is chosen by using the optional argument, `candle_type`, with the first letter of the candle type as the value - `a` for Adjusted Close.  Multiple tickers must be encapsulated with square brackets [] and quotation marks for each individual symbol.

In [24]:
tickers = ["META", "AAPL", "AMZN", "NFLX", "GOOG", "MSFT", "TSLA"]
df_compare = openbb.stocks.ca.hist(similar = tickers, candle_type = 'a')

df_compare.tail(3)

,META,AAPL,AMZN,NFLX,GOOG,MSFT,TSLA
Date,,,,,,,
2023-04-10,214.750000,162.029999,102.169998,338.989990,106.949997,289.390015,184.509995
2023-04-11,213.850006,160.800003,99.919998,338.209991,106.120003,282.829987,186.789993
2023-04-12,214.000000,160.100006,97.830002,331.029999,105.220001,283.489990,180.539993

## The Economy Module

It may not be an obvious choice, but it can get the job done in a similar way as `openbb.stocks.ca.hist()`.

### openbb.economy.index()

This function can be coaxed into completing the same task, with slight differences being the `column` argument, and `returns` is a boolean choice for calculating the cumulative returns over the entire history.

In [25]:
df_compare2 = openbb.economy.index(indices = tickers, column = 'Adj Close')

df_compare2.tail(3)

,META,AAPL,AMZN,NFLX,GOOG,MSFT,TSLA
Date,,,,,,,
2023-04-10,214.750000,162.029999,102.169998,338.989990,106.949997,289.390015,184.509995
2023-04-11,213.850006,160.800003,99.919998,338.209991,106.120003,282.829987,186.789993
2023-04-12,214.000000,160.100006,97.830002,331.029999,105.220001,283.489990,180.539993

## The Crypto Module

Similarly, the `crypto` module has its own nuances.

### openbb.crypto.load()

This version of the `load` function has three sources: `YahooFinance`, `CoinGecko`, and `CCXT`. Selecting `CCXT` will activate the `--exchange` argument, which allows the user to target a specific venue.  

Choices of exchange are: [

    ace,alpaca,ascendex,bequant,bigone,binance,binancecoinm,binanceus,binanceusdm,bit2c,bitbank,bitbay,bitcoincom,
    bitfinex,bitfinex2,bitflyer,bitforex,bitget,bithumb,bitmart,bitmex,bitopro,bitpanda,bitrue,bitso,bitstamp,bitstamp1,
    bittrex,bitvavo,bkex,bl3p,btcalpha,btcbox,btcex,btcmarkets,btctradeua,btcturk,buda,bybit,cex,coinbase,coinbaseprime,coinbasepro,
    coincheck,coinex,coinfalcon,coinmate,coinone,coinspot,cryptocom,currencycom,delta,deribit,digifinex,exmo,flowbtc,fmfwio,gate,
    gateio,gemini,hitbtc,hitbtc3,hollaex,huobi,huobijp,huobipro,idex,independentreserve,indodax,itbit,kraken,krakenfutures,kucoin,
    kucoinfutures,kuna,latoken,lbank,lbank2,lykke,mercado,mexc,mexc3,ndax,novadax,oceanex,okcoin,okex,okex5,okx,paymium,phemex,
    poloniex,poloniexfutures,probit,ripio,stex,tidex,timex,tokocrypto,upbit,wavesexchange,wazirx,whitebit,woo,yobit,zaif,zb,zonda
]

**Note**: Asset coverage and history varies by exchange.  Binance may have access restrictions for US-based users.

In [40]:
btc_usdt = openbb.crypto.load(symbol = 'BTC', to_symbol = 'USDT', source = 'CCXT', exchange = 'bitcoincom', start_date = '2010-01-01')

In [41]:
btc_usdt

                Open      High       Low     Close      Volume
date
2013-12-27    777.00    779.00    694.84    742.43  1502.36000
2013-12-28    710.46    752.42    672.80    732.42  4583.78000
2013-12-29    699.61    750.01    690.50    746.28  4718.43000
2013-12-30    715.05    758.58    710.40    721.52  4824.67000
2013-12-31    721.99    756.09    698.17    722.58  4821.72000
...              ...       ...       ...       ...         ...
2023-04-08  27901.31  28149.64  27858.67  27938.79  2412.42480
2023-04-09  27938.56  28524.38  27803.01  28324.38  3405.00370
2023-04-10  28330.51  29768.59  28169.23  29639.82  8021.05919
2023-04-11  29639.50  30542.29  29584.83  30203.64  9411.81865
2023-04-12  30203.74  30478.23  29655.35  29881.42  8604.39910

[3391 rows x 5 columns]

### openbb.crypto.dd.mt()

This function returns crpyto time-series data from Messari, selectable by `timeseries_id`. Find the appropriate value with, `openbb.crypto.dd.get_mt()`.

In [28]:
openbb.crypto.dd.get_mt()

,Title,Description,Requires Paid Key,Sources
id,,,,
txn.tfr.erc20.cnt,ERC-20 Transfer Count,The sum count of ERC-20 transfers in that inte...,False,Coinmetrics
min.rev.ntv,Miner Revenue (Native Units),"The sum of all miner revenue, which constitute...",False,Coinmetrics
txn.vol,Transaction Volume,The sum USD value of all native units transfer...,False,Coinmetrics
exch.flow.out.ntv.incl,Withdrawals from Exchanges - Inclusive (Native...,The amount of the asset withdrawn from exchang...,False,Coinmetrics
min.rev.usd,Miner Revenue,"The sum USD value of all miner revenue, which ...",False,"Coinmetrics,Kaiko"
...,...,...,...,...
daily.shp,Sharpe Ratio,The Sharpe ratio (performance of the asset com...,False,Kaiko
iss.rate,Annual Issuance Rate,The percentage of new native units (continuous...,False,Coinmetrics
price,Price,Volume weighted average price computed using M...,False,Kaiko
txn.fee.avg.ntv,Average Transaction Fees (Native Units),The mean fee per transaction in native units t...,False,Coinmetrics
txn.tfr.val.med,Median Transfer Value,The median USD value transferred per transfer ...,False,Coinmetrics

In [29]:
openbb.crypto.dd.mt('eth', timeseries_id='price', start_date = '2010-01-01', interval = '1w')[0]

                   open         high          low        close        volume
timestamp
2015-08-10     0.648707     2.237367     0.603205     1.608072  2.097282e+06
2015-08-24     1.322712     1.388551     1.052930     1.317280  5.410970e+05
2015-09-07     1.306615     1.317278     0.915953     0.934512  4.992946e+05
2015-09-21     0.958794     0.959938     0.700710     0.725005  2.127151e+05
2015-10-05     0.670480     0.692221     0.592912     0.640576  1.482326e+05
...                 ...          ...          ...          ...           ...
2023-03-06  1564.720953  1607.755943  1370.296009  1591.940871  1.927949e+10
2023-03-13  1591.384814  1845.873308  1571.116756  1785.852108  2.467113e+10
2023-03-20  1785.927549  1859.757905  1715.387057  1775.675515  1.842308e+10
2023-03-27  1775.538456  1846.896743  1687.625419  1795.636074  1.431715e+10
2023-04-03  1795.493218  1940.066022  1763.769598  1860.226508  1.304167e+10

[206 rows x 5 columns]